@model WebUI.ModelView.DatView
<div class="form-group row">
    <label for="orderdateinfo" class="col-sm-2 col-form-label">Дата выполнения:</label>
    <div class="col-sm-10" id="orderdateinfo">
        <b>@Model.CDat</b>
    </div>
</div>
<div class="form-group row">
    <label for="ordersmenainfo" class="col-sm-2 col-form-label">Смена:</label>
    <div class="col-sm-10" id="ordersmenainfo">
        <b>@Model.Smena</b>
    </div>
</div>
<a class="btn btn-light" role="button" title="Отредактировать дату выполнения и смену" href="@Url.Action("Index", "DatSelect", new { id = Model.OrderId })">
    <i class="fa fa-edit"></i>&nbsp;&nbsp;Изменить
</a>
<hr />


