@model WebUI.ModelView.DatView
@using WebUI.Helpers;
<div class="form-group row">
    <label for="orderdateinfo" class="col-sm-2 col-form-label">Дата выполнения:</label>
    <div class="col-sm-10" id="orderdateinfo">
        <b>@Model.CDat</b>
    </div>
</div>
<div class="form-group row">
    <label for="ordersmenainfo" class="col-sm-2 col-form-label">Смена:</label>
    <div class="col-sm-10" id="ordersmenainfo">
        <b>@Model.Smena</b>
    </div>
</div>
@Html.SmplBtn("edit", "Отредактировать дату выполнения и смену", "Изменить", Url.Action("Index", "DatSelect", new { id = Model.OrderId }).ToString())
<hr />


