@model Domain.Entities.OrderV
<div>
    <div class="form-group row">
        <label for="ordercontractinfo" class="col-sm-2 col-form-label">Договор:</label>
        <div class="col-sm-10" id="ordercontractinfo">
            <b>@Model.Contract</b>
        </div>
    </div>
    <hr />
</div>