@model Domain.Entities.OrderV
<div class="frm-container">
     <h4 class="h4-grey">&nbsp;&nbsp;&nbsp;&nbsp;Контакт</h4>
    <br />
    <div class="form-group row">
        <label for="ordercontractinfo" class="col-sm-2 col-form-label">Контактное лицо:</label>
        <div class="col-sm-10 col-form-input" id="ordercontractinfo">
            <b>@Model.Person</b>
        </div>
    </div>
</div>