@model  Domain.Entities.OrderProductView
<div>
    <div class="form-group row">
        <label for="ordergoodinfo" class="col-sm-2 col-form-label">Продукция:</label>
        <div class="col-sm-10" id="ordergoodinfo">
            <b>@Model.Good</b>
        </div>
    </div>
    <div class="form-group row">
        <label for="orderquantityinfo" class="col-sm-2 col-form-label">Кол-во:</label>
        <div class="col-sm-10" id="orderquantityinfo">
            <b>@Model.Quant</b>, ед.изм - <b>@Model.Unit</b>
        </div>
    </div>
    <hr />
</div>

