@{
    ViewBag.Title = ViewBag.ContentTitle = "Счет фактура";
}

<h2>Заявка на Счет фактуру и Торг-12 принята.</h2>

<p>
    Документы будут высланы по адресу
    <h2>@ViewBag.mail</h2>

</p>

<p>
    В случае если адрес не верен, немедленно сообщите в отдел реализации тел. (495)359-72-00,  (495)359-75-25
</p>

<p style="color:red;font-weight:bold;">Не забудьте получить оригиналы документов!</p>