@model string

@{
    ViewBag.Title = "Заказ счета фактуры и Торг-12";
}

<h2>Заказ счета фактуры и Торг-12</h2>

<div style="color:red;font-weight:bold;font-size: 14px;">
    <p>Внимание!</p>
    <p>Документы формируются за пять дней (периоды 1-5, 6-10, 11-15, 16-20, 21-25, 26-по последний день месяца).</p>
    <p>Документы отправляются без подписей ответственных лиц и носят информационный характер,для своевременного учета отгруженной вам продукции.</p>
</div>
<br>


@using (Html.BeginForm())
{
    <div>
        Примечание:
        Опишите за какой период вам нужны документы

        <br>
        @*@Html.Editor(Model)*@


        <textarea name="note" id="template" rows="5" style="width:100%;"></textarea>

        <br>

        <p>
            <input type="submit" value="Заказать счета фактуры и Торг-12" />
        </p>

        <p style="color:red;font-weight:bold;">Не забудьте получить оригиналы документов!</p>


        Документы будут высланы по адресу
        <h3>@ViewBag.mail</h3>
        Документы придут с адреса
        <h3>1s@abz4.ru</h3>
        Не надо писать и отвечать на этот адрес.
        Рассылкой занимается робот
    </div>
}

