@model WebUI.ModelView.DataView
<div class="form-group">
    @Html.LabelFor(m => m.Dat, htmlAttributes: new { @class = "col-md-3 control-label" })
    @Html.DisplayFor(model => model.Dat, new { @class = "datepicker-here" })
</div>
<div class="form-group">
    @Html.LabelFor(m => m.Smena, htmlAttributes: new { @class = "col-md-3 control-label" })
    @Html.DisplayFor(model => model.Smena)
</div>
<script type="text/javascript">
    $('#Dat').datepicker({
        todayButton: new Date(),
        autoClose: true
    })
</script>