@{
    ViewBag.Title = "Заказ не сохранен";
}
<p style="text-transform:uppercase;"><b>Заказ не сохранен, требуется выбрать продукцию!</b></p>
<div>
    <hr />
    @Html.ActionLink(@HttpUtility.HtmlDecode("&laquo;") + " Назад к заказу", "Booking", null,
    new { @class = "actionButtons btn btn-xs-sm-md btn-warning", @role = "button", @title = "Назад к заказу" })
    &nbsp;&nbsp;&nbsp;
    @Html.ActionLink(@HttpUtility.HtmlDecode("&laquo;") + " вернуться к списку заказов", "Index", null, new { @class = "btn btn-xs-sm-md btn-default", @role = "button", @title = "Вернуться к списку заказов" })
</div>