@using WebUI.Helpers
@{
    ViewBag.Title = "Заказ не сохранен";
}
<p style="text-transform:uppercase;"><b>Заказ не сохранен, требуется выбрать продукцию!</b></p>
<div>
    <hr />
    @Html.SmplBtn("return", "Назад к заказу", "назад к заказу", Url.Action("Booking", "Ord").ToString(),"btn btn-warning")
    &nbsp;&nbsp;&nbsp;
    @Html.SmplBtn("return", "Вернуться к списку заказов", "вернуться к списку заказов", Url.Action("Index", "Ord").ToString())
</div>