@model WebUI.ModelView.TrancportView
@{
    ViewBag.Title = ViewBag.ContentTitle = "Транспорт";
}
<p>
    <a class="btn btn-light" role="button" title="Добавить новый транспорт" href="@Url.Action("Create", "Transport", null)">
        <i class="fa fa-plus-square"></i>&nbsp;&nbsp;Добавить
    </a>
</p>
<table class="table table-bordered table-hover mt-3">
    <thead>
        <tr class="table-active">
            <th scope="col">Гос. №</th>
            <th scope="col">Модель</th>
            <th scope="col" width="1"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Transports)
        {
            <tr>
                <td>
                    @Html.ActionLink(item.Gn, "Trans", new { id = item.Gn, ord = Model.OrderId })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TecModel)
                </td>
                <td>
                    <a class="btn btn-light" role="button" title="Изменить транспорт" href="@Url.Action("Edit", "Transport", new { id = item.Gn })"><i class="fa fa-edit"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>