@model Domain.Entities.OrderV
<div class="orderform-delivery order-item">
    <div class="form-group">
        @Html.ActionLink("Самовывоз >>", "Index", "Transport", new { ord = Model.OrderId }, new { @class = "btn btn-success" })
        @Html.ActionLink("Транспорт АБЗ >>", "AdresOrder", "Adres", new { ord = Model.OrderId }, new { @class = "btn btn-success" })
    </div>
</div>
