<div class="container">
    <div class="row">
        <adress class="col-6 text-center vcard footer-menu-wrapper footer-info" itemscope itemtype="http://schema.org/Organization">
            <span class="category">Завод</span>&nbsp;<span class="fn org" itemprop="name">АО "АБЗ КАПОТНЯ"</span><br />
            <span class="adr" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                <span class="locality" itemprop="addressLocality">г. Москва</span>,
                <span class="street-address" itemprop="streetAddress">ул. Верхние Поля, д. 54</span>
            </span>
            <br />
            <span class="tel">
                <abbr class="value" title="+ 7 (495) 359-75-25" itemprop="telephone">(495) 359-75-25</abbr>&nbsp;&nbsp;&nbsp;<abbr class="value" title="+ 7 (495) 359-72-00" itemprop="telephone">(495) 359-72-00</abbr>
            </span>
            <br />
            <a class="url" href="https://abz4.ru" title="https://abz4.ru" itemprop="url">https://abz4.ru</a>&nbsp;&nbsp;&nbsp;<a class="email" href="mailto:abz4@abz4.ru" title="abz4@abz4.ru" itemprop="email">abz4@abz4.ru</a>
        </adress>
        <div class="col-6 footer-menu-wrapper">
            <ul class="nav flex-column footer-menu">
                <li class="nav-item">
                    <a class="nav-link" href="https://abz4.ru/home/contact/" title="Контакты ОАО АБЗ-4 'КАПОТНЯ'" role="button">Контакты</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://abz4.ru/home/calcprod/" title="Расчет количества асфальта для укладки" role="button">Расчет асфальта</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://abz4.ru/docs/" title="Документация" role="button">Документация</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://abz4.ru/home/delivery/" title="Доставка продукции клиентам" role="button">Доставка продукции</a>
                </li>
            </ul>
        </div>
    </div>
</div>