<div class="form-control mw-100 w-100 h-auto header-info">
    <p class="m-0 d-inline-block client-name">@ViewBag.cust</p>
    <span>&nbsp;/&nbsp;</span>
    <p class="m-0 d-inline-block client-contract">@ViewBag.Contract</p>
    <span>&nbsp;/&nbsp;</span>
    <p class="m-0 d-inline-block client-balance"><i class="fas fa-coins"></i>&nbsp;Баланс:&nbsp;<b>@ViewBag.sm руб.</b></p>
</div>