@{
    string authuser = "";
    HttpCookie cookie;

    cookie = Request.Cookies["AuthUser"];
    if (cookie != null) { authuser = cookie.Value; }
}
@*@using Microsoft.AspNet.Identity
    @if (Request.IsAuthenticated)
    {*@
@if (ViewBag.AuthSuccess != null && ViewBag.AuthSuccess)
{
    <ul class="navbar-nav px-3 flex-row float-right">
        <li class="nav-item text-nowrap d-inline">
            <a href="@Url.Action("ChangePassword", "Account")" title="Изменить пароль" class="nav-link mr-3 log-user">
                <i class="fas fa-user-alt"></i>&nbsp;@authuser
            </a>
        </li>
        <li class="nav-item text-nowrap d-inline">
            <a href="@Url.Action("LogOut", "Account")" title="Выйти из Личного Кабинета" class="nav-link log-out">
                <i class="fas fa-sign-out-alt"></i><span class="d-none d-md-inline">&nbsp;Выход</span>
            </a>
        </li>
    </ul>
}
