@model IEnumerable<Domain.Entities.Good>

<div class="table-responsive product-table-wrapper">

    <table class="table table-bordered table-hover product-table">
        <thead>
            <tr>
                <th>Наименование продукции</th>
                <th>Ед. изм.</th>
                <th><b>Заказать</b></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.txt)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Unit)
                    </td>

                    <td align="left">
                        @using (Html.BeginForm("GoodAdd", "Good"))
                        {
                            @Html.Hidden("GoodID", item.GoodID)

                            <input class="actionButtons btn btn-xs-sm btn-success" type="submit" value="Заказать" title="Заказать товар" />
                            <p><font size="2" color="#aaa">дробная часть - через запятую</font></p>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
