@model IEnumerable<Domain.Entities.Categ>
@{
    ViewBag.Title = "Categ";
}
<div class="w-100">
    @Html.Action("Edit", "Categ")
</div>
<div class="col-md-3 col-lg-2 navbar-container bg-dark sidebar">
    <nav class="navbar navbar-expand-md navbar-dark mainmenu-wrapper">
        <ul class="mb-2 navbar-nav mainmenu-nav">
            @foreach (var item in Model)
            {
                <li class="nav-item active">
                    @Html.ActionLink(item.CategName, "Edit", new { id = item.CategID })
                </li>
            }

        </ul>
    </nav>

</div>

@Html.Action("Good", "Categ")