@model IEnumerable<Domain.Entities.Categ>

@{
    ViewBag.Title = "Index";
}


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CategName)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.CategName, "Edit", new { id = item.CategID })
            </td>
        </tr>
    }

</table>
@Html.Action("Edit", "Categ")