@model int

@{
    ViewBag.Title = "Реквизиты";

    AjaxOptions ajaxOpts = new AjaxOptions
    {
        UpdateTargetId = "custlist",
        Url = Url.Action("MyAjax"),
        LoadingElementId = "loading"
    };
}
<div class="notification" style="padding: 5px 5px 10px;margin-bottom: 20px;background-color: #e6e6fa;">
    <span class="glyphicon glyphicon-info-sign" style="height: 70px;color:#fe980f;font-size:25px;margin:0;padding: 0 10px 5px 0;float:left;"></span>
    <h3 class="null-margin">Мы обновили личный кабинет</h3>
    <a href="#spoiler-1" data-toggle="collapse" class="collapsed" aria-expanded="false">Подробнее...</a>
    <div class="collapse" id="spoiler-1" aria-expanded="false" style="height: 0px;">
        <div class="well">
            <p>
                1. Теперь вы можете смотреть данные в разрезе договора.<br>
                2. Из счета, можно сделать заказ.<br>
                3. В разделе "Отгрузка и оплата" -> "Реестр отгруженной продукции" появилась возможность суммирования количества отгруженной продукции по выбранным ТТН.
            </p>
        </div>
    </div>
</div>
<div id="loading" style="display: none; color: Red; font-weight: bold">
    <p>Подождите, идет получение данных...</p>
</div>
@using (Ajax.BeginForm(ajaxOpts))
{
    <div>
        @Html.DropDownList("SelectedId", (SelectList)ViewData["Cust"], new { onchange = "$(this.form).submit();" })
    </div>

    if (ViewData["Contract"] != null)
    {
        <div style="margin-top:20px;">
            <span><b>Договор</b></span><br/>
            @Html.DropDownList("SelectedContractId", (SelectList)ViewData["Contract"], new { onchange = "$(this.form).submit();" })
        </div>
    }
}
<h3>Персональные данные</h3>
@Html.Action("MyAjax", new { id = Model })