<div class="col-sm-7 col-lg-8 clearfix pull-right custbalance-wrapper">
    <div class="clearfix pull-right custbalance-info">
        <p><b>@ViewBag.cust</b></p>

        <p><b>@ViewBag.Contract</b></p>

        <p>
            Баланс <font size="5">&#9923;
             </font>:
            &nbsp;
            <b> @ViewBag.sm руб.</b>
        </p>
    </div>
</div>
